*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    margin: 0;
    padding: 0;
    background: rgb(248,248,250);
    background: linear-gradient(180deg, rgba(248,248,250,1) 10%, rgba(31,144,195,1) 81%); 
}




.loginForm{
    height: 400px;
    background-color: rgb(242, 239, 235);
    border-radius: 15px;
    box-shadow : 4px 8px 16px #fbf9f9;

}

